body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

nav a {
  color: seashell;
  margin-right: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  align-items: center;
  color: seashell;
  background-color: black;
  top: 0;
}

.mission {
  padding-top: 69px;
  background: url(./../media/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.missionText {
  background: black;
  margin: 0;
  padding: 5px;
}

#logo {
  height: 50px;
  padding-left: 10px;
}
